kangas
datasets
transformers
torch
torchvision
kornia
aiohttp>=3.9.4 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability